@import "tailwindcss";

@theme {
  --color-primary: #f7ecea;
  --color-secondary: #a18c7f;
  --color-secondary-dark: #3e3129;
  --color-accent: #e8d8d0;

  --breakpoint-xs: 24rem;
}

html,
body {
  background-color: #f7ecea;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

.font-heading {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
}

.page-max-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.circular-pattern-bg {
  --s: 227px; /* control the size*/
  --c1: #f7ecea;
  --c2: #fcf3ef;

  --_g:
    var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background:
    radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}
